# SPDX-FileCopyrightText: 2022-2023 Chris Montgomery <chris@cdom.io>
# SPDX-License-Identifier: CC0-1.0
# project stuff
.projectile-cache.eld
.pre-commit-config.yaml
*.fd
result
.direnv
just-flake.just



# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

##: nix
.std
.data

##: build artifacts
build
result

##: private/local files
*.local
*.log
*.pem
.env*.local
ops/keys/ssh/*
!ops/keys/ssh/*.pub
.scratch

##: editors
.idea


##: virtual machine images
*.qcow2
*.img

##: os clutter
.DS_Store

##: temporary files
*.tmp
tmp/
.aider*
