name: Bump Flake Inputs

on:
  workflow_dispatch:
  schedule:
    - cron: "0 1 * * 0"

permissions: {}

jobs:
  update-lockfile:
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write
      contents: write

    outputs:
      pr: ${{ steps.pr.outputs.pull-request-url }}
      branch: ${{ steps.pr.outputs.pull-request-branch }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main

      - name: Cache setup
        uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Update Lockfile
        run: nix flake update

      - name: Create Pull request
        id: pr
        uses: peter-evans/create-pull-request@v8
        with:
          title: "chore: update flake inputs"
          commit-message: "chore: update flake inputs"
          branch: update-flake-inputs
          token: ${{ github.token }}

  check:
    name: Check Flake
    needs: update-lockfile
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ needs.update-lockfile.outputs.branch }}
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - uses: DeterminateSystems/flake-checker-action@main
      - run: nix flake check

  merge:
    name: Merge Pull Request
    needs: [update-lockfile, check]
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write
      contents: write

    steps:
      - name: Merge Pull Request
        run: gh pr merge --rebase --auto --delete-branch "$PR"
        env:
          GH_TOKEN: ${{ github.token }}
          PR: ${{ needs.update-lockfile.outputs.pr }}
